In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# در مورد مشتریان شهر‌های مختلف چه می‌توان گفت؟ مثلا تعداد مشتریان هر شهر به نسبت جمعیت آن شهر در کدام شهر‌ها بیشتر/کمتر است؟ یا کدام شهر‌ها خرید‌های گران‌تر و کدام شهر‌ها خریدهای ارزان‌تر انجام می‌دهند؟

In [2]:
df3 = pd.read_csv('3.csv')

In [3]:
df3.head()

,ID_Order,ID_Customer,ID_Item,DateTime_CartFinalize,Amount_Gross_Order,city_name_fa,Quantity_item
0,2714054,469662,21386,2015-10-15 08:50:56.000,597982.0,محمود آباد,1.0
1,11104039,3063877,248497,2018-02-11 00:29:26.000,980000.0,خرمدره,1.0
2,4228130,3184893,50144,2016-06-14 00:30:08.000,229358.0,قرچک,1.0
3,22225624,6888562,70208,2018-09-03 14:37:19.000,16514.0,قم,1.0
4,4068771,2533490,67627,2016-05-21 11:51:02.000,133028.0,تهران,1.0

In [4]:
cities = df3['city_name_fa'].unique()
print(cities)

['محمود آباد' 'خرمدره' 'قرچک' 'قم' 'تهران' 'مشهد' 'اصفهان' 'رشت' 'خرمشهر'
 'لالی' 'تنکابن' 'کرج' 'اهواز' 'شاهین شهر' 'زنجان' 'ساری' 'کلور' 'هچیرود'
 'مبارکه' 'آبادان' 'کیش' 'بندر انزلی' 'بروجرد' 'قائم شهر' 'آستانه اشرفیه'
 'شیراز' 'آمل' 'کرمانشاه' 'بوشهر' 'قزوین' 'بندر عباس' 'نیشابور' 'تبریز'
 'اراک' 'ایلام' 'لاهیجان' 'علی آباد' 'یزد' 'زابل' 'شهرکرد' 'رویدر'
 'کبودر آهنگ' 'تاکستان' 'هشتگرد' 'گرگان' 'خمام' 'ورزنه' 'گنبدکاووس'
 'همدان' 'زرند' 'نوشهر' 'هادیشهر' 'شهریار' 'فلاورجان' 'کازرون' 'دیواندره'
 'خمین' 'صغاد' 'شهر جدید صدرا' 'کرمان' 'بیرجند' 'آستارا' 'اردبیل' 'دزفول'
 'نجف آباد' 'دورود' 'سمنان' 'ساوه' 'خرم آباد' 'سربیشه' 'سبزوار' 'سیاهکل'
 'فومن' 'اسلام آباد غرب' 'اسلامشهر' 'سردشت' 'جیرفت' 'فردیس' 'شبستر'
 'لنگرود' 'گرمدره' 'طرقبه' 'شوش' 'آشخانه' 'ارزوئیه' 'میاندوآب' 'الیگودرز'
 'تربت جام' 'کوهدشت' 'یاسوج' 'بستک' 'درگهان' 'تویسرکان' 'زاهدان' 'ارومیه'
 'تفت' 'گلپایگان' 'لار' 'بهبهان' 'پاکدشت' 'حمیل' 'الوند' 'لالجین' 'ابهر'
 'سر پل ذهاب' 'بهشهر' 'چالوس' 'اردکان' 'منوجان' 'پردیس' 'قشم' 'مراغه'
 'دوگنبدان' 'شاهرود' 'رودسر' 'بم' 'صومعه سرا' 'ملارد' 'لشت نشاء'
 'بندر ترکمن' 'نمین' 'دماوند' 'شادگان' 'محمدیه' 'مرند' 'مشکین دشت' 'سنندج'
 'کمال شهر' 'نی ریز' 'نور' 'راسک' 'عباس آباد' 'کلاچای' 'بابلسر' 'رفسنجان'
 'قدس' 'شیروان' 'خمینی شهر' 'بجنورد' 'رویان' 'سراب' 'محلات' 'امیدیه'
 'بابل' 'مهاباد' 'دامغان' 'کاشان' 'بومهن' 'گیلانغرب' 'کرد کوی'
 'بندر ماهشهر' 'تربت حیدریه' 'شهر جدید هشتگرد' 'کلاله' 'اندیشه' 'ملایر'
 'بندر لنگه' 'رامسر' 'چادگان' 'اقلید' 'محمد شهر' 'سیرجان' 'شهر جدید سهند'
 'مس سرچشمه' 'هیدج' 'چهار برج' 'سقز' 'بندر کنگان' 'بانه' 'مراوه تپه'
 'سریش آباد' 'بندر گناوه' 'پیشوا' 'کلیبر' 'سپید دشت' 'فولاد شهر'
 'رضوانشهر' 'پلدختر' 'بیجار' 'سوسنگرد' 'فسا' 'ملکان' 'میبد' 'نسیم شهر'
 'قمصر' 'خلخال' 'دهبارز' 'درگز' 'ماکو' 'بافت' 'پارسیان' 'کهنوج' 'قیر'
 'خنداب' 'شهر بابک' 'هشتپر' 'سراوان' 'اشکذر' 'سلمان شهر' 'گرمی' 'کوار'
 'آذرشهر' 'مسجد سلیمان' 'بیله سوار' 'گلدشت' 'جهرم' 'دهاقان' 'اهر'
 'عجب شیر' 'مهران' 'ایذه' 'کوزه کنان' 'خورموج' 'صحنه' 'جویبار' 'خورزوق'
 'میناب' 'اوز' 'کلارآباد' 'گلستان' 'ایج' 'آباده' 'ورامین' 'طالقان'
 'خوش رودپی' 'بروجن' 'گرمسار' 'فریدونکنار' 'عسلویه' 'کاشمر' 'کنارک'
 'رامهرمز' 'باخرز' 'نکا' 'رباط کریم' 'گراش' 'سلماس' 'جم' 'نشتارود'
 'مامونیه' 'آبیک' 'رحیم آباد' 'شهر جدید پرند' 'فرخ شهر' 'خارک' 'ری'
 'مریوان' 'بندر دیر' 'استهبان' 'شهرضا' 'بشرویه' 'شهر جدید مهاجران' 'ممقان'
 'درچه پیاز' 'املش' 'تودشک' 'آران و بیدگل' 'مرودشت' 'اندیمشک' 'آبش احمد'
 'سنقر' 'بادرود' 'سرابله' 'چهاردانگه' 'صالحیه' 'لامرد' 'نهاوند'
 'بندر امام خمینی' 'بردسیر' 'قوچان' 'خوانسار' 'بردسکن' 'شوشتر' 'گناباد'
 'زاویه' 'دره شهر' 'پارس آباد' 'آستانه' 'فشم' 'ایوان' 'سروستان' 'جاجرم'
 'بافق' 'میانه' 'بناب' 'چوبر' 'ورنامخواست' 'هریس' 'دهدز' 'سی سخت' 'کهک'
 'دیزیچه' 'جعفر آباد' 'زرین شهر' 'ایرانشهر' 'کیاشهر' 'قیدار' 'جالق'
 'کیلان' 'حسن آباد' 'دلیجان' 'اسفراین' 'خور' 'نهبندان' 'فامنین' 'اردستان'
 'هشترود' 'آزاد شهر' 'نظر آباد' 'زارچ' 'شفت' 'نقده' 'رودهن' 'سردرود'
 'فریمان' 'گلوگاه' 'مهر' 'دهلران' 'نوش آباد' 'زیرآب' 'صفا شهر' 'قروه'
 'بوکان' 'سرایان' 'بندر دیلم' 'سورک' 'شازند' 'چاه بهار' 'خنجین' 'سمیرم'
 'بهارستان' 'آشتیان' 'تکاب' 'مهریز' 'هرسین' 'سرخرود' 'شاهین دژ' 'بهنمیر'
 'فیروزکوه' 'چناران' 'خاش' 'وایقان' 'کوشکنار' 'ماسال' 'شریف آباد'
 'امیر کلا' 'کوهبنان' 'اهرم' 'لوشان' 'کاکی' 'بوانات' 'نورآباد' 'گالیکش'
 'کلاردشت' 'ابریشم' 'مشگین شهر' 'خوی' 'میامی' 'ابرکوه' 'سرباز' 'کوچصفهان'
 'بن' 'سامان' 'گودین' 'چابکسر' 'نیک شهر' 'زید آباد' 'هفشجان' 'دهدشت'
 'خمیر' 'عشق آباد' 'کهریزسنگ' 'سعادت شهر' 'نطنز' 'بدره' 'تفرش' 'جلفا'
 'نیمور' 'قهدریجان' 'توحید' 'سرخس' 'مزرعه' 'گهواره' 'ماهدشت' 'بیضا' 'کنگ'
 'داراب' 'آبدانان' 'شلمزار' 'کمیجان' 'آق قلا' 'باقرشهر' 'چمران' 'لطیفی'
 'شاندیز' 'قصر شیرین' 'لنده' 'بازرگان' 'شال' 'طبس' 'ازنا' 'دمق' 'دهگلان'
 'مینودشت' 'فیروزآباد' 'بنارویه' 'خمارلو' 'بردستان' 'برازجان' 'نصرآباد'
 'طاقانک' 'جوانرود' 'تایباد' 'جغتای' 'زرقان' 'داران' 'آب بر' 'رستم آباد'
 'روانسر' 'میمه' 'نائین' 'ایوانکی' 'بسطام' 'هرات' 'چمستان' 'تاتار علیا'
 'منجیل' 'لواسان' 'پره سر' 'فاضل آباد' 'سیمین شهر' 'ایزد شهر' 'ابوحمیظه'
 'کوت عبدالله' 'قائن' 'کنگاور' 'الشتر' 'فیروزان' 'سیه چشمه' 'گندمان'
 'جعفریه' 'لردگان' 'اسدیه' 'بیارجمند' 'پیرانشهر' 'دهرم' 'قهجاورستان'
 'فارسان' 'کلات' 'باغ بهادران' 'راور' 'قصر قند' 'خشکرود' 'خواف' 'اسفدن'
 'نرماشیر' 'رودبار' 'کیاسر' 'شهمیرزاد' 'کهریزک' 'سرخه' 'ریوش' 'صالح آباد'
 'دندی' 'محمد آباد' 'بندر گز' 'اسالم' 'فردوس' 'دلند' 'اسکو' 'فریدونشهر'
 'شوط' 'آبگرم' 'کرکوند' 'جیرنده' 'میلاجرد' 'نقاب' 'سوق' 'چاف و چمخاله'
 'بندر جاسک' 'گتوند' 'هوراند' 'فیض آباد' 'وراوی' 'پیر بکران' 'نوده خاندوز'
 'دولت آباد' 'بهار' 'بوئین زهرا' 'باغستان' 'صفادشت' 'گراب' 'کشکوئیه'
 'ایلخچی' 'بیدخت' 'کوهی خیل' 'خلیل آباد' 'علویچه' 'نقنه' 'آبپخش' 'پل سفید'
 'زهک' 'دستجرد' 'بردخون' 'سورشجان' 'کشکسرای' 'زاینده رود' 'اسد آباد'
 'راین' 'شیبان' 'هویزه' 'وزوان' 'رابر' 'گلشهر' 'فراشبند' 'نوخندان'
 'بستان آباد' 'رزن' 'چرام' 'صائین قلعه' 'گز برخوار' 'شیرگاه' 'ضیاء آباد'
 'رامیان' 'ترکالکی' 'بنت' 'شبانکاره' 'سنگر' 'فرادنبه' 'خومه زار' 'تسوج'
 'کامیاران' 'کومله' 'حاجی آباد' 'لوندویل' 'مروست' 'قروه در جزین' 'سیراف'
 'رشتخوار' 'خشت' 'کرند غرب' 'بلده' 'مهرستان' 'موسیان' 'باغ ملک' 'ویس'
 'ملاثانی' 'خان ببین' 'شاهدیه' 'رونیز' 'ابوموسی' 'زواره' 'شاهدشهر'
 'اشنویه' 'ایمانشهر' 'پلدشت' 'هندیجان' 'سه قلعه' 'بانوره' 'رستمکلا' 'درق'
 'گله دار' 'مهدی شهر' 'خضری دشت بیاض' 'طبس مسینا' 'دستگرد' 'شیرود'
 'قره ضیاء الدین' 'علویجه' 'ماهان' 'هشتبندی' 'فردوسیه' 'ساروق' 'رضی'
 'اقبالیه' 'سوران' 'لیکک' 'سرخنکلاته' 'کتالم و سادات شهر' 'زرنق'
 'سده لنجان' 'خنج' 'خشکبیجار' 'تیران' 'احمد آباد' 'نخل تقی' 'انار'
 'ابوزید آباد' 'امیریه' 'رینه' 'هادی شهر' 'نوسود' 'انارستان' 'ویسیان'
 'سیرکان' 'کوهپایه' 'منظریه' 'سندرک' 'لولمان' 'بلداجی' 'گیوی' 'خسروشاه'
 'اشتهارد' 'دوست محمد' 'پاریز' 'قادرآباد' 'بلاوه' 'ورزقان' 'گرمه'
 'چمگردان' 'فاروج' 'زیباشهر' 'پرند' 'کوهسار' 'کوخردهرنگ' 'راز' 'رامجرد'
 'آجین' 'شلمان' 'ترکمانچای' 'اصلاندوز' 'نصیرشهر' 'اردل' 'زنگی آباد'
 'کاریز' 'بندر ریگ' 'نودشه' 'چهارباغ' 'خوسف' 'اسلام آباد' 'نگور' 'سرعین'
 'دیلمان' 'مال خلیفه' 'جونقان' 'واجارگاه' 'گوگان' 'مصیری' 'آرادان'
 'خلیل شهر' 'مریانج' 'پاوه' 'بوئین میاندشت' 'سیریک' 'تازیان پائین'
 'ارکواز' 'صبا شهر' 'شهداد' 'دلوار' 'قلعه گنج' 'انارک' 'آغاجاری' 'خاکعلی'
 'بهاباد' 'چقابل' 'بیکاه' 'تشان' 'دهق' 'اشکنان' 'سماله' 'عماد ده' 'چارک'
 'زیارتعلی' 'مارگون' 'طالخونچه' 'قلعه تل' 'هشتجین' 'سنگان' 'ارطه' 'فاریاب'
 'جنت مکان' 'آوج' 'زرین رود' 'سودجان' 'کیان' 'درود' 'زازران' 'کیاکلا'
 'بیدستان' 'گوگد' 'بجستان' 'لومار' 'جنت شهر' 'غرق آباد' 'فرمهین' 'صوفیان'
 'ارسنجان' 'سامن' 'جناح' 'علی اکبر' 'چغادک' 'روداب' 'زرین آباد' 'مود'
 'آوا' 'بفروئیه' 'هرند' 'آبعلی' 'اسپکه' 'جاورسیان' 'زهان' 'فرون آباد'
 'گلسار' 'فرخی' 'فنوج' 'ندوشن' 'پارچین' 'دانسفهان' 'محمد یار' 'سگزی'
 'شوسف' 'رامشیر' 'تازه شهر' 'لیسار' 'خامنه' 'زرنه' 'الوان' 'خاتون آباد'
 'احمدابادمستوفی' 'میانرود' 'مرجقل' 'بیستون' 'کلیشاد و سودرجان' 'شنبه'
 'تازه آباد' 'ماه نشان' 'کارچان' 'شمشک' 'بخشایش' 'وردنجان' 'وحدتیه'
 'آسمان آباد' 'رازمیان' 'گل تپه' 'کارزین' 'عقدا' 'نیک آباد' 'نگار' 'دشتک'
 'سیه رود' 'هفتگل' 'احمدآباد صولت' 'پهله' 'مورچه خورت' 'آبی بیگلو' 'جویم'
 'چلیچه' 'ربط' 'برزک' 'فهرج' 'پاتاوه' 'سلطانیه' 'شادمهر' 'دامنه' 'دستک'
 'تجریش' 'باب انار' 'تنکمان' 'قهاوند' 'گمیش تپه' 'مرزن آباد' 'رانکوه'
 'شریفیه' 'بروات' 'چابهار' 'کیانشهر' 'قطرویه' 'دلگشا' 'بیرم' 'سلفچگان'
 'گلباف' 'ارداق' 'سیردان' 'پرندک' 'قلندر آباد' 'کنار تخته' 'یاسوکند'
 'مشهدریزه' 'حمیدیه' 'سراب دوره' 'گوراب زرمیخ' 'مجن' 'بنجار' 'قائمیه'
 'حویق' 'نوکنده' 'سجاس' 'سراب ذهاب' 'سعد آباد' 'نراق' 'دابودشت' 'جوپار'
 'جلین' 'سفید شهر' 'نوشین' 'آبسرد' 'باینگان' 'بمپور' 'بلبان آباد' 'ریز'
 'قره آغاج' 'هندودر' 'دستناء' 'ارسک' 'آباده طشک' 'ایور' 'محمود آباد نمونه'
 'قطب آباد' 'پیشین' 'شند آباد' 'جواد آباد' 'خرامه' 'گلمورتی' 'قدمگاه'
 'شرفخانه' 'گوهران' 'چلگرد' 'باسمنج' 'نیمبلوک' 'حلب' 'بهمن' 'لمزان'
 'دیهوک' 'بهرمان' 'جنگل' 'خوراسگان' 'حبیب آباد' 'آلونی' 'وحیدیه' 'آقکند'
 'امین شهر' 'بنک' 'زرگر محله' 'مرزیکلا' 'کوهستک' 'محی آباد' 'ریجاب'
 'خرمدشت' 'صفی آباد' 'زنوز' 'میمند' 'گرماب' 'امام حسن' 'قنوات' 'گنبکی'
 'شباب' 'سرو آباد' 'شیرین سو' 'قوشچی' 'اسیر' 'آزادی' 'نیر' 'علامرودشت'
 'عنبران' 'خرو' 'گتاب' 'تیکمه داش' 'باشت' 'یامچی' 'ناغان' 'نودان'
 'بهاران شهر' 'شهر زو' 'سگز آباد' 'کشاورز' 'سراوان-گیلان' 'مهربان'
 'اسلامیه' 'عنبر آباد' 'سراب باغ' 'گردکشانه' 'صالح شهر' 'کوهین' 'خضر آباد'
 'آبدان' 'ششده' 'حمیدیا' 'کاخک' 'کمشجه' 'بازار جمعه' 'ترک' 'فدامی'
 'داریان' 'داود آباد' 'اروند کنار' 'خاوران' 'موچش' 'برزول' 'نظرکهریزی'
 'چرمهین' 'مادرسلیمان' 'زاهد شهر' 'سده' 'کلمه' 'معمولان' 'ادیمی' 'آبژدان'
 'ازناو' 'قلعه خواجه' 'ماکلوان' 'منصوریه' 'سبزدشت' 'حسینیه' 'اختیار آباد'
 'گرگاب' 'خوزی']

In [5]:
population = pd.read_excel('Amar.xlsx')
population['pop'] = population['جمعیت']
population.head()

             city  متوسط رشد سالانه  توزیع جمعیت         جمعیت           pop
0  آذربایجان شرقی              0.66         4.96  3.892407e+06  3.892407e+06
1  آذربایجان غربی              1.40         4.10  3.217514e+06  3.217514e+06
2          اردبیل              0.33         1.66  1.302701e+06  1.302701e+06
3          اصفهان              1.37         6.49  5.093089e+06  5.093089e+06
4           البرز              3.04         3.21  2.519078e+06  2.519078e+06

In [12]:
df = df3
# for i in range(len(cities)):
#     df['sum of kharidars'] = df[df['city_name_fa'] == cities[i]]['ID_Customer'].unique()

In [13]:
df.head()

,ID_Order,ID_Customer,ID_Item,DateTime_CartFinalize,Amount_Gross_Order,city_name_fa,Quantity_item,sum of kharidars
0,2714054,469662,21386,2015-10-15 08:50:56.000,597982.0,محمود آباد,1.0,1
1,11104039,3063877,248497,2018-02-11 00:29:26.000,980000.0,خرمدره,1.0,1
2,4228130,3184893,50144,2016-06-14 00:30:08.000,229358.0,قرچک,1.0,1
3,22225624,6888562,70208,2018-09-03 14:37:19.000,16514.0,قم,1.0,1
4,4068771,2533490,67627,2016-05-21 11:51:02.000,133028.0,تهران,1.0,1

In [14]:
df = df.groupby('city_name_fa')['ID_Customer'].nunique().

In [35]:
df = df.reset_index()

In [42]:
df = df.rename(index=str, columns={'city_name_fa': 'city', 'ID_Customer': 'num of kharidars'})

In [ ]:
# df3 = df.groupby(['city_name_fa']).city_name_fa.agg('count').to_frame('Sum of Kharidars').reset_index()

In [43]:
df.head()

        city  num of kharidars
0      آب بر                14
1     آبادان               320
2      آباده                48
3  آباده طشک                 3
4      آبدان                 2

In [44]:
result = pd.merge(df, population, on='city')

In [45]:
result.head()

,city,num of kharidars,متوسط رشد سالانه,توزیع جمعیت,جمعیت,pop
0,اردبیل,624,0.33,1.66,1.302701e+06,1.302701e+06
1,اصفهان,4664,1.37,6.49,5.093089e+06,5.093089e+06
2,ایلام,372,0.43,0.74,5.807220e+05,5.807220e+05
3,بوشهر,473,3.11,1.37,1.075120e+06,1.075120e+06
4,تهران,81048,1.44,16.21,1.272095e+07,1.272095e+07

In [48]:
result['fraction'] = result['num of kharidars']/result['pop']

In [49]:
result.head()

,city,num of kharidars,متوسط رشد سالانه,توزیع جمعیت,جمعیت,pop,fraction
0,اردبیل,624,0.33,1.66,1.302701e+06,1.302701e+06,0.000479
1,اصفهان,4664,1.37,6.49,5.093089e+06,5.093089e+06,0.000916
2,ایلام,372,0.43,0.74,5.807220e+05,5.807220e+05,0.000641
3,بوشهر,473,3.11,1.37,1.075120e+06,1.075120e+06,0.000440
4,تهران,81048,1.44,16.21,1.272095e+07,1.272095e+07,0.006371

In [50]:
result.sort_values(by=['fraction'], ascending=False)

,city,num of kharidars,متوسط رشد سالانه,توزیع جمعیت,جمعیت,pop,fraction
4,تهران,81048,1.44,16.21,1.272095e+07,1.272095e+07,0.006371
8,قم,1905,1.93,1.53,1.200682e+06,1.200682e+06,0.001587
13,یزد,1626,1.63,1.43,1.122206e+06,1.122206e+06,0.001449
1,اصفهان,4664,1.37,6.49,5.093089e+06,5.093089e+06,0.000916
11,کرمانشاه,1718,0.69,2.59,2.032527e+06,2.032527e+06,0.000845
7,قزوین,1028,1.00,1.60,1.255615e+06,1.255615e+06,0.000819
5,زنجان,695,1.04,1.35,1.059425e+06,1.059425e+06,0.000656
2,ایلام,372,0.43,0.74,5.807220e+05,5.807220e+05,0.000641
9,همدان,984,0.64,2.34,1.836337e+06,1.836337e+06,0.000536
6,سمنان,331,1.37,0.84,6.591979e+05,6.591979e+05,0.000502
0,اردبیل,624,0.33,1.66,1.302701e+06,1.302701e+06,0.000479
3,بوشهر,473,3.11,1.37,1.075120e+06,1.075120e+06,0.000440
10,کرمان,1254,2.07,3.91,3.068409e+06,3.068409e+06,0.000409
12,گلستان,36,1.90,2.36,1.852032e+06,1.852032e+06,0.000019

طبق بالا، نسبت مشتری‌ها به جمعیت در شهرهای تهران، قم، یزد، اصفهان . کرمانشاه به ترتیب بیش‌ترینه.

In [51]:
df2 = df3
df2 = df2.groupby('city_name_fa')['Amount_Gross_Order'].mean()

In [52]:
df2

city_name_fa
آب بر            1.393569e+06
آبادان           1.370806e+06
آباده            3.566697e+06
آباده طشک        1.305979e+07
آبدان            3.919266e+06
آبدانان          2.387631e+06
آبسرد            1.618383e+06
آبش احمد         7.229970e+05
آبعلی            1.057847e+06
آبپخش            2.814628e+06
آبژدان           6.176100e+04
آبگرم            5.975489e+06
آبی بیگلو        5.610000e+05
آبیک             9.273735e+05
آجین             5.840000e+04
آذرشهر           2.381352e+06
آرادان           8.002752e+05
آران و بیدگل     1.157409e+06
آزاد شهر         1.958386e+06
آزادی            3.217615e+06
آستارا           1.353001e+06
آستانه           7.552260e+05
آستانه اشرفیه    1.864565e+06
آسمان آباد       5.123165e+05
آشتیان           1.301748e+06
آشخانه           2.413397e+06
آغاجاری          8.509634e+05
آق قلا           1.542013e+06
آقکند            1.366972e+06
آلونی            6.885047e+05
                     ...
گرگاب            1.057340e+06
گرگان            1.577883e+06
گز برخوار        2.769736e+06
گل تپه           3.959023e+05
گلباف            8.500000e+05
گلدشت            6.080138e+06
گلسار            3.415627e+05
گلستان           1.349908e+06
گلشهر            2.333025e+05
گلمورتی          7.785933e+05
گله دار          7.638922e+06
گلوگاه           1.823427e+06
گلپایگان         2.490763e+06
گمیش تپه         4.300000e+05
گناباد           2.192088e+06
گنبدکاووس        2.018544e+06
گنبکی            9.174300e+04
گندمان           3.039083e+06
گهواره           1.628288e+06
گودین            1.350915e+05
گوراب زرمیخ      1.072500e+06
گوهران           5.963300e+05
گوگان            3.488838e+06
گوگد             4.311840e+06
گیلانغرب         1.026228e+06
گیوی             1.105135e+06
یاسوج            1.648720e+06
یاسوکند          1.100000e+05
یامچی            1.082570e+05
یزد              1.638011e+06
Name: Amount_Gross_Order, Length: 906, dtype: float64

In [53]:
df2.sort_values(ascending=False)

city_name_fa
خضر آباد        4.999000e+07
کارزین          2.915741e+07
منصوریه         1.989908e+07
برزک            1.607339e+07
دیهوک           1.486913e+07
شمشک            1.484867e+07
مشهدریزه        1.463518e+07
آباده طشک       1.305979e+07
میلاجرد         1.220514e+07
مجن             1.215716e+07
ربط             8.917431e+06
نیک آباد        7.984404e+06
گله دار         7.638922e+06
قلندر آباد      7.568807e+06
قطب آباد        6.416315e+06
هشتبندی         6.158509e+06
گلدشت           6.080138e+06
آبگرم           5.975489e+06
سپید دشت        5.884450e+06
ارطه            5.780495e+06
بنت             5.676292e+06
وحیدیه          5.627584e+06
عنبر آباد       5.464315e+06
دستجرد          5.366972e+06
خمارلو          5.351852e+06
سیه چشمه        5.190394e+06
بیدخت           5.000948e+06
نصرآباد         4.944954e+06
نگار            4.770117e+06
فهرج            4.685963e+06
                    ...
زرگر محله       8.800000e+04
سراوان-گیلان    8.230000e+04
نودان           8.000000e+04
شاهدشهر         7.806400e+04
لیسار           7.798150e+04
سبزدشت          7.522900e+04
خنجین           7.339400e+04
بیرم            7.000000e+04
امین شهر        6.775000e+04
آبژدان          6.176100e+04
جنگل            5.963300e+04
آجین            5.840000e+04
باشت            5.840000e+04
اروند کنار      5.825700e+04
آوا             5.793600e+04
کاریز           5.300000e+04
باسمنج          5.169725e+04
ناغان           5.000000e+04
بیارجمند        4.711933e+04
بیضا            4.266050e+04
مادرسلیمان      3.578000e+04
نوخندان         3.440400e+04
سده             3.000000e+04
خاوران          2.385300e+04
اسپکه           2.317450e+04
موچش            1.926600e+04
بلبان آباد      1.376100e+04
دلگشا           1.376100e+04
کشاورز          1.009100e+04
شیرین سو        9.174000e+03
Name: Amount_Gross_Order, Length: 906, dtype: float64

طبق بالا، گران‌ترین خریدها را به ترتیب شهرهای خضرآباد، کارزین و منصوریه، و ارزان‌ترین خریدها را به ترتیب شهرهای شیرین‌سو، کشاورز و دلگشا دارند.

در این تحلیل، از دیتاست آمار جمعیت استان‌های ایران که در سایت www.amar.org.ir موجود است استفاده شده.